@import url("https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");

.sidebar .brand .app-title {
  font-size: 2rem;
  font-family:
    "SN Pro",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .sidebar .brand .app-title {
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0.6px;
    padding: 0px;
    margin: 0;
  }

  .sidebar .brand {
    justify-content: center;
  }
}
